body {
    background-image: url(https://images.unsplash.com/photo-1516576291981-b64ed8383ba8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80)
  }
  *{
    color: lightcyan;
  }
  h1{
    font-family:Caveat;
    font-size: 60px;
    padding:20px 20px 30px 20px;
  }
  
  .container {
    width: 600px;
    margin:20px;
  }
  
  .container header nav a {
    margin: 0 10px;
    border:1px solid teal;
    padding: 10px;
    display: flex row;
    justify:space-evenly;
    border-radius: 10px;
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 20px;
    font-family:oswald; 
  }
  
  h2{
    padding:20px;
    font-family:Caveat;
    font-size:30px;
  }
  h3{
    padding:20px;
    font-family:Caveat;
    font-size:30px;
  }
  
  .projects {
    width: 600px;
    margin:20px;
  }
  
  .projects {
    border:1px solid teal;
    padding: 10px;
    display: flex row;
    border-radius: 10px;
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 20px;
    font-family:oswald; 
    
  }
  
  img{
    border-radius:20px;
    padding:30px;
  }
  
  p{
    padding:20px;
    font-family:oswald;
    font-size:20px;
  }
  
  .content-row{
    display:flex;
  }
  
  .pics {
    display: flex;
    flex-wrap:wrap;
    font-family:oswald;
  }
  
  .contact {
    width: 600px;
    margin:20px;
  }
  
  .contact {
    border:1px solid teal;
    padding: 10px;
    display: flex row;
    border-radius: 10px;
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 20px;
    font-family:oswald; 
    }
  footer{
    text-align:center;
  }
  .fa fa-facebook .fa fa-twitter{
    padding:60px;
  }
  