.box {
    background-color: black;
    color: white;
    margin: 6px;
    width: 85%;
    height: 50px;
    
}
#box1{ 
    background-color:teal;
}
#box2{ 
    background-color:gold;
}
#box3{ 
    background-color:cadetblue;
}
#box4{ 
    background-color:coral;
}
#box5{ 
    background-color:crimson;
}
#box6{ 
    background-color:forestgreen;
}
#box7{ 
    background-color:darkorchid;
}
#box8{ 
    background-color:hotpink;
}
#box9{ 
    background-color:indigo;
}
#box10{ 
    background-color:dodgerblue;
}
.container1 {
    width: 50%;
    margin: 0 auto;
    height: 50%;
    clear: both;
}

.container2 {
    width: 50%;
    margin: 0 auto;
    height: 50%;
    clear: both;
}

.container3 {
    display:block;
    justify-content: center;
}

.future {
    width: 30%;
  float:left; 
 
}

.container4 {
    clear: both;
    margin: 0 auto;
}

.past {
    width: 22%;
    float: left;
    margin: 0 auto;
}
footer{ 
clear:both;
margin: 0 auto;
} 
hr{ 
    border:none;
    border-top:2px dotted ;
    height:2px;
    width:85%;

}