/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
	/* border: 2px solid pink; */
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */


.container {
	width: 880px; 
	margin: 0 auto;
  }
	
	header nav {
		display: inline-block;
		width: 690px;
		vertical-align: top;
		margin-top: 35px;
	  }
	  
		
		header nav a {
			margin-right: 65px;
			font-size: 13px;
			color: gray;
		}
	  
			
			header nav a:first-child {
				margin-left: 0;
			}
	  
			
			header nav a:last-child {
				margin-right: 0;
			}

	
	header .logo {
		margin-top: 25px;
	}
  
	.tagline .cta-text {
		display: inline-block;
		vertical-align: top;
		margin-top: 120px;
		padding: 0px 75px;		
		font-size: 75px;
		text-align: center;
	}   

	.tagline .cta-text button {
		
		font-family: 'Bangers', cursive;
		font-size: 15px;
		background: white;
		vertical-align: top;

		
		margin-top: 6px;
		padding: 10px 45px;
		border: 1px solid black;
	}

	.tagline img {
		display: inline-block;
		margin-top: 65px;
	}



	.page-content {
		
		border-top: 1px solid black;
		margin-top: 75px;
		padding-top: 49px;
	}

	.page-content .top-content {
		padding: 0 10px;
	} 

	.page-content .top-content .content-box {
		width: 410px;
		display: inline-block;
		margin-right: 30px;
	}

	.page-content .top-content .content-box:last-child {
		margin-right: 0;
	}

	.page-content .middle-img {
		margin-top: 45px;
	}

	.page-content .bottom-content {
		margin-top: 35px;
		padding: 0 10px;
	}

	.page-content .bottom-content .content-box {
		width: 275px;
		display: inline-block;
		margin-right: 10px;
	}

	.page-content .bottom-content .content-box:last-child {
		margin-right: 0;
	}

	address {
		margin-top: 60px;
		border-top: 1px solid black;
		padding: 35px 10px 0;
	}
	
	address p {
		margin: 20px 0;
	}


footer {
	margin: 30px 0;
	text-align: center;
	font-size: 15px;
}