/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: space-between;
  width: 70%;
  padding: 1%;
  border-bottom: 2px dashed #C0C0C0;
  margin: 0 12% 0 15%;
}
@media (max-width: 500px) {
  header {
    flex-direction: column;
    align-items: center;
  }
}
header nav a {
  font-size: 2rem;
  color: gray;
  justify-content: space-around;
  padding-top: 5%;
}
.Welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 500px) {
  .Welcome {
    justify-content: center;
  }
}
.Welcome .Welcome-txt {
  text-align: left;
  width: 800px;
  padding-top: 2%;
  border-bottom: 2px dashed #C0C0C0;
}
@media (max-width: 500px) {
  .Welcome .Welcome-txt {
    width: 73%;
  }
}
.tinybus {
  max-width: 75%;
  padding-top: 2%;
}
.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: #FFEBCD;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
.home .content-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .home .content-section {
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
}
.home .content-section .text-content {
  width: 48%;
  padding-right: 1%;
}
@media (max-width: 500px) {
  .home .content-section .text-content {
    width: 80%;
  }
}
.home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
@media (max-width: 500px) {
  .home .content-section .img-content {
    width: 80%;
  }
}
.home .content-section .img-content img {
  border-radius: 10px;
}
.home .inverse-content {
  padding-bottom: 30px;
  border-bottom: 2px dashed #C0C0C0;
}
@media (max-width: 500px) {
  .home .inverse-content {
    flex-direction: column-reverse;
    align-content: center;
  }
}
.home .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
@media (max-width: 500px) {
  .home .inverse-content .text-content {
    width: 80%;
  }
}
.home .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
.home .content-destination {
  width: 75%;
  margin: 0 auto 30px;
}
.home .content-destination img {
  border-radius: 10px;
}
.home .content-pick {
  padding-top: 30px;
  border-top: 2px dashed #C0C0C0;
  display: flex;
  justify-content: space-between;
}
.home .content-pick .destination {
  width: 30%;
  margin-bottom: 30px;
}
.btn {
  display: block;
  background-color: #1E88F3;
  margin: 0 10px 20px;
  cursor: pointer;
  width: 200px;
  height: 40px;
  font-size: 2rem;
  text-align: center;
  padding-top: 4%;
  border-radius: 10px;
  color: white;
}
.btn:hover {
  background-color: white;
  color: #1E88F3;
}
@media (max-width: 500px) {
  .btn {
    width: 100%;
  }
}
